<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flora个人博客</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/about.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/timeutil.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <a href="/" class="title">Flora的个人博客 | 技术博客</a>
        <ul class="menu">
            <li><a href="/">首页</a></li>
            <li><a href="/sitemap.html">地图</a></li>
            <li><a href="/about.html">关于</a></li>
            <li><a href="/guestbook.html">留言</a></li>
        </ul>
        <div class="search_bar">
            <input type="text" placeholder="输入关键词查找" />
            <input type="submit" value="搜索" class="button" />
        </div>
    </div>
</header>
<div class="contentWrapper">
    <div class="content_left">
        <div class="description">
            <p>欢迎灌水交流，别看我长时间不发博，博主可一直都在线~</p>
            <p>友链只交换技术类个人博客。</p>
        </div>
        <div class="blog_comments" id="blog_comments">
            <p class="blog_comments_msg">关于：目前有{{total}} 条留言</p>
            <div class="blog_comment" v-for="comment in commentList">
                <span><b>{{comment.user_name}}：</b> {{comment.options}} 发表于{{comment.date}}<span class="comment_repeat" v-on:click="reply(comment.id, comment.user_name)">[回复]</span></span>
                <div>{{comment.comments}}</div>
            </div>
        </div>
        <div class="send_comment" id="send_comment">
            <h3>发表评论</h3>
            <div>
                <input type="hidden" id="comment_reply" v-model="reply" />
                <input type="hidden" id="comment_reply_name" v-model="reply_name" />
                <input type="text" placeholder="昵称" id="comment_name" v-model="name" />
                <input type="text" placeholder="邮箱(评论被回复时能收到通知)" id="comment_email" v-model="email" />
            </div>
            <div>
                <textarea placeholder="评论内容" id="comment_content" v-model="content"></textarea>
            </div>
            <div>
                <input type="text" placeholder="验证码" id="comment_code" v-model="code" />
                <div v-html="vcode" v-on:click="changeCode()" id="vcode"></div>
            </div>
            <button v-on:click="sendComment()">提交评论</button>
            <button>重置</button>
        </div>
    </div>
    <div class="content_right">
        <div class="right_module" id="random_tags">
            <div class="right_module_title">随机标签云</div>
            <div class="right_module_content">
                <a v-for="tag in tags" :style="{color: randomColor(), fontSize: randomSize()}" :href="'/?tag=' + tag.tag">{{tag.tag}}</a>
            </div>
        </div>
        <div class="right_module" id="new_hot">
            <div class="right_module_title">最近热门</div>
            <ul>
                <li v-for="hot in hotList">
                    <a :href='hot.link'>{{hot.title}}</a>
                </li>
            </ul>
        </div>
        <div class="right_module" id="new_comments">
            <div class="right_module_title">最近评论</div>
            <ul>
                <li v-for="comment in commentList">
                    <div>
                        <span>{{comment.name}}</span>
                        <span class="pull_right">[{{comment.date}}]</span>
                    </div>
                    <p>{{comment.comment}}</p>
                </li>
            </ul>
        </div>
        <div class="right_module">
            <div class="right_module_title">友情链接</div>
            <div class="right_module_content">
                <span><a href="/">挨踢茶馆</a></span><span><a href="/">挨踢茶馆</a></span><span><a href="/">挨踢茶馆</a></span>
                <span><a href="/">挨踢茶馆</a></span><span><a href="/">挨踢茶馆</a></span><span><a href="/">挨踢茶馆</a></span>
                <span><a href="/">挨踢茶馆</a></span><span><a href="/">挨踢茶馆</a></span><span><a href="/">挨踢茶馆</a></span>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>JQuery</li>
        <li>ES6</li>
        <li>Vue</li>
        <li>React</li>
        <li>Node</li>
    </ul>
    <p>Flora个人博客 All rights reserved.</p>
</div>
<script src="./js/blog_comments.js"></script>
<script src="./js/base.js"></script>
</body>
</html>